<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express - Survey Form</title>
  </head>
  <body>
    <form class="" action="/result" method="post">
      <p><label for="name">Your Name:</label><input type="text" name="name" value=""></p>
      <p><label for="location">Dojo Location:</label><select class="" name="location">
        <option value="Mountain View">Mountain View</option>
        <option value="Burbank">Burbank</option>
        <option value="Orange County (R.I.P. Kevin)">Orange County</option>
      </select></p>
      <p><label for="language">Favorite Language:</label><select class="" name="language">
        <option value="Javascript">Javascript</option>
        <option value="Python">Python</option>
        <option value="Ruby">Ruby</option>
        <option value="PHP">PHP...really?</option>
      </select></p>
      <p><label for="comment">Comment (optional):</label><br /><textarea name="comment" rows="4" cols="40"></textarea></p>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
