<div id="wrapper">
  <div id="sidebar">
    <form>
      <p><input type="text" ng-model="productFilter" placeholder="search..."></p>
      <button>Filter</button>
    </form>

    <h4>Add a new product</h4>
    <form>
      <p><label for="name">Name:</label><br /><input type="text" ng-model="newProduct.name" placeholder="name..."></p>
      <p><label for="image">Image (url):</label><br /><input type="text" ng-model="newProduct.image" placeholder="http://"></p>
      <p><label for="description">Description:</label><br /><textarea name="name" rows="4" cols="20" ng-model="newProduct.description"></textarea></p>
      <p><label for="quantity">Quantity:</label><br /><input type="number" ng-model="newProduct.quantity" min="1" step="1" value="1"></p>
      <button ng-click="createProduct();">Create</button>
    </form>
  </div>
  <div id="main">
    <div class="product" ng-repeat="product in products">
      <img src="{{product.image}}" class="product-image" alt="{{product.name}}">
      <p>{{product.name}}</p>
      <p>({{product.quantity}} left)</p>
    </div>
  </div>
</div>
