#wrapper {
  padding: 10px;
  margin: 0 auto;
}

form{
  display: inline-block;
  border: 1px solid black;
  width: 200px;
  text-align: center;
  padding: 5px;
}

#append_me{
  width: 100%;
  height: 150px;
  border: 1px solid black;
  overflow-y: scroll;
}

.good, .bad{
  margin: 0;
}

.good{
  color: green;
}

.bad{
  color: red;
}
