<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Django - Semi-Restful Routes Assignment</title>
  </head>
  <body>
    <h3>Products</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      {% if products %}
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>
            <a href="{% url 'show' product_id=product.id %}">Show</a> |
            <a href="{% url 'edit' product_id=product.id %}">Edit</a> |
            <a href="{% url 'destroy' product_id=product.id %}">Remove</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
    <p><a href="{% url 'new' %}">Add a new product</a></p>
  </body>
</html>
