<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secrets Board</title>
    <style media="screen">
      div{
        border: 1px solid black;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <h2>Hello, {{request.session.user.first_name}}!</h2>
    <p><a href="/logout">Logout</a></p>
    <form class="" action="/post_secret" method="post">
      {% csrf_token %}
      <textarea name="secret" rows="6" cols="60" placeholder="Your secret here.."></textarea>
      <br />
      <input type="submit" name="" value="Post">
    </form>
    <p><a href="#popular">Most Popular Secrets</a></p>
    <div id="recent">
      <h3>Recent Secrets...</h3>
      {% if recent %}
        {% for secret in recent %}
          <p>
            {{secret.content}} ({{secret.created_at}}) {{secret.num_likes}} likes
            {% if secret.user.id == request.session.user.id %}
            <strong>You posted this</strong>
            <a href="delete/{{secret.id}}">Delete</a>
            {% else %}
              {% if secret.id not in user_likes %}
              <a href="like/{{secret.id}}/{{request.session.user.id}}">Like</a>
              {% else %}
              <strong>You liked this</strong>
              <a href="like/{{secret.id}}/{{request.session.user.id}}">Unlike</a>
              {% endif %}
            {% endif %}
          </p>
        {% endfor %}
      {% endif %}
    </div>
    <div id="popular">
      <h3>Most Popular Secrets...</h3>
      {% if popular %}
        {% for secret in popular %}
          <p>
            {{secret.content}} ({{secret.created_at}}) {{secret.num_likes}} likes
            {% if secret.user.id == request.session.user.id %}
            <strong>You posted this</strong>
            <a href="delete/{{secret.id}}">Delete</a>
            {% else %}
              {% if secret.id not in user_likes %}
              <a href="like/{{secret.id}}/{{request.session.user.id}}">Like</a>
              {% else %}
              <strong>You liked this</strong>
              <a href="like/{{secret.id}}/{{request.session.user.id}}">Unlike</a>
              {% endif %}
            {% endif %}
          </p>
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
